body {
    background-color: #e5e5e5;
font-family: 'Roboto', sans-serif;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
h1{
    font-size: 44px;
}
h2{
    font-size: 26px;
 
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
  
}
p{
    font-size: 15px;
}
.top-bar {
    height: 92px;
    width: 100%;

    background-color: #CF2B2B;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
}

.top-container {
    margin-left: 21px;
    color: #fff;
}
.app-name{
    font-family: 'Righteous', cursive;
}
.container{
    margin: 116px 0;
    margin-left: 16px;

}
.menu {
    margin: 24px 0;
}
.menu-name{
    font-family: 'Righteous', cursive;
    margin-bottom: 8px;
}
.options {
    display: flex;

    overflow: hidden;
    overflow-x: scroll;
}


.option {
    min-width: 172px;
    height: 216px;

    margin-right: 16px;

    background-color: #fff;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.15);

    border-radius: 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 8px 0;
}
.option img{
    width: 144px;
    height: 87px;

    border-radius: 4px;
    object-fit: cover;

}
.option-name,.option-description,.option-price{
    width: 144px;
}
.option-description{
    color: #A6A6A6;
}

.button-bar{
    height: 92px;
    width: 100%;

    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
}
.send-request{
    width: 364px;
    height:61px;

    border-radius: 50px;

    background-color: #cbcbcb;
}
.send-request p{
    font-size: 20px;
}

@media (max-width: 600px) {
    /* Hide scrollbar for Chrome, Safari and Opera */
.options::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.options {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
}